


<form name="EmployeeForm">
	<h4>Search in SWAPI</h4>
	<button class="navLi" ng-click="vm.searchApi(vm.swapiSearch.category,vm.swapiSearch.keyWord)">Search with selected values</button>
	<select ng-model="vm.swapiSearch.category">
		<option value="" disabled selected>Select your category</option>
		<option value="people">People</option>
		<option value="planets">Planets</option>
		<option value="starships">Starships</option>
	</select>

	<input type="text" placeholder = "Enter Keyword" ng-model="vm.swapiSearch.keyWord" class="inputLabel name"/>

</form>
<div class="flex-container">
	<ul class="trackList" ng-repeat="chosenOne in vm.apiResponse.data.results">
		<li ng-if="vm.swapiSearch.category =='people'">
			<h4 class="green">People Category</h4>
			<label>Name: </label><p>{{chosenOne.name}}</p>
			<label>Birth Year: </label><p>{{chosenOne.birth_year}}</p>
			<label>Gender: </label> <p>{{chosenOne.gender}}</p>
			<button class="navLi" ng-click="vm.addToFavorites(chosenOne,vm.swapiSearch.category)">Add to Favorites</button>
		</li>

		<li ng-if="vm.swapiSearch.category =='planets'">
			<h4 class="blue">Planets Category</h4>
			<label>Name: </label><p>{{chosenOne.name}}</p>
			<label>Climate: </label><p>{{chosenOne.climate}}</p>
			<label>Terrain: </label> <p>{{chosenOne.terrain}}</p>
			<button class="navLi" ng-click="vm.addToFavorites(chosenOne,vm.swapiSearch.category)">Add to Favorites</button>
		</li>

		<li ng-if="vm.swapiSearch.category =='starships'">
			<h4 class="red">Starships Category</h4>
			<label>Name: </label><p>{{chosenOne.name}}</p>
			<label>Model: </label><p>{{chosenOne.model}}</p>
			<label>Class: </label> <p>{{chosenOne.starship_class}}</p>
			<button class="navLi" ng-click="vm.addToFavorites(chosenOne,vm.swapiSearch.category)">Add to Favorites</button>
		</li>
	</ul>
</div>
