


<form name="EmployeeForm">

	<button class="navLi" ng-click="vm.searchApi(vm.swapiSearch.category,vm.swapiSearch.keyWord)">Search with selected values</button>
	<select ng-model="vm.swapiSearch.category">
		<option value="" disabled selected>Select your category</option>
		<option value="people">People</option>
		<option value="planets">Planets</option>
	</select>

	<input type="text" placeholder = "Enter Keyword" ng-model="vm.swapiSearch.keyWord" class="inputLabel name"/>

</form>

<ul class="trackList" ng-repeat="chosenOne in vm.apiResponse.data.results">
	<li>
		<label>Name: </label><p>{{chosenOne.name}}</p>
		<label>Birth Year: </label><p>{{chosenOne.birth_year}}</p>
		<label>Gender: </label> <p>{{chosenOne.gender}}</p>
		<button class="navLi" ng-click="vm.addToFavorites(chosenOne,vm.swapiSearch.category)">Add to Favorites</button>
	</li>
</ul>

